%p
  %b Missing Ships
  is a genre defying collective of New York musicians comprised of Greggy Most, Mimi, Nick Colvin, Zack Herman, Matt La Von, Meryl Zimmerman and Ben O'Hallaron.
%p
  Drawing from far reaching musical inspiration including soul, interstellar groove, druggy drone, arena pop explosions, psychedelic freak outs and rock noir Missing Ships are a dynamic and unique part of Brooklyn’s flourishing music scene.
%p
  Music from Missing Ships’ EP Girls All Night, Vol. 1 was recently featured on the first episode of the tattoo culture show Marcus Kuhn’s The Gypsy Gentleman. In addition Missing Ships was blogged about and personally selected by Mike Shinoda of Linkin Park to appear on Linkin Park Radio on
  = succeed "." do
    %a{:href => "http://iheartradio.com", :target => "_blank"} iheartradio.com
%p
  With the dynamic vocal talents of Mimi, Meryl, and Greggy and the catchy, soulful, rock accompaniments of Nick, Zack,  Matt, and Ben the band was selected to perform on Live Band with Jamie Lamm filmed at The Knitting Factory.
%p
  The band is currently recording their  first full-length album, French Vanilla, which will be released on Live By The Sword Records in the upcoming months.
%p
  Missing Ships' energetic live performances in addition to their EP, Girls All Night Vol. 1 have set the stage for a new wave soul revival.
%p
  %b> Gregory Most
  \: vox, guits and utter disrespect for sound waves
  %br/
  = succeed ":" do
    %b Mimi
  vox, thunder clap
  %br/
  = succeed ":" do
    %b Nick Colvin
  drums, stylish glasses
  %br/
  = succeed ":" do
    %b Zack Herman
  keys
  %br/
  = succeed ":" do
    %b Matt La Von
  sexyphone
  %br/
  = succeed ":" do
    %b Meryl Zimmerman
  nursery rhymes
  %br/
  = succeed ":" do
    %b Ben O'Hallaron
  bigbass
  %br/
%br/
%img{:src => "/images/missingships-photostrip.jpg"}/
